[defaults]
inventory            = inventory/hosts.yml
remote_user          = ec2-user
host_key_checking    = False
roles_path           = roles
stdout_callback      = default
result_format        = yaml
deprecation_warnings = False
vault_password_file  = .vault_pass

[ssh_connection]
ssh_args   = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
pipelining = True
